body,html{min-width: 1200px;}
*{margin: 0; padding: 0; list-style: none;}
input::-webkit-input-placeholder{
    color:#a5bed8;
}
input::-moz-placeholder{   /* Mochildlla Firefox 19+ */
    color:#a5bed8;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#a5bed8;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#a5bed8;
}
#container{width: 100%;margin: 0 auto;}
#top1da{
	width: 100%; height: 38px; background-color: #f6f5f3;margin: 0 auto;
}
.header_1{width: 1200px; height: 38px;margin: 0 auto;}
.header_1 img{padding-top: 5px;}
.header_2{width: 1200px; height: 55px;margin: 0 auto;}
.header_2 p{font-size: 14px; color: #333333; line-height: 55px;}
.header_2 p span{color: #999999;}
#top3da{
	width: 100%;
	margin: 0 auto;
	background-color: #459df5;
}
.header_3{width: 1200px;height: 60px; margin: 0 auto;}
.header_3 ul #lli,#di{float: left; line-height: 60px; width: 120px; font-size: 14px; color: #dcedff; text-align: center;}
.header_3 #lli:hover,#di:hover{background-color: #66b3ff;}
.header_3 input{width: 246px; height: 34px; text-indent: 3em; background: #459df5 url(../img/a_07.gif) no-repeat 10px center; border: 1px solid #ffffff; border-radius: 4%; margin-top: 13PX;float: right;color: #fff}
#di{ padding: 0px 5px 0px 5px; position: relative; background: url(../img/xiaosanjiao.png) 105px center no-repeat;padding-right: 15px;}
#di:hover #biaoqian{ display: block;}
#biaoqian{width: 220px; height: 40px; background-color: #0066cc; position: absolute; left: 0px; top: 60px; line-height: 40px;
 display: none;
}
.ydWrap{
	margin-top:2px;
	margin-bottom:5px;
}
#biaoqian:hover #biaoqian2{ display: block;}
#biaoqian p{font-size: 14px; padding-left: 19px; color: #d8e5f6; line-height: 40px; float: left; padding-top: 0px;}
#biaoqian img{float: left; float: right;margin-right: 19px; padding-top: 12px;}
#biaoqian2{width: 180px; height: 280px; background-color: #333333; position: absolute; left: 220px; display: none;}
#biaoqian2 li{padding-left: 21px;padding-top: 0px; color: #ffffff;font-size: 14px;text-align: left;}
.header_3 p{padding-left: 715px; float: left; padding-top: 12px;}
.header_3 p img{} 
.body_1{color: #333333; font-size: 30px; line-height: 118px;text-align:  center;}
.body_2{height: 90px; width: 1200px; background-color: #f8f7f5; margin: 0 auto;}
.body_2 img{float: left;}
.body_2 p{font-size: 14px; color: #333333; padding-left: 20px; padding-top: 22px;}
.body_3{width: 1200px; height: 3285px; margin: 0 auto;}
.body_3a{font-size: 14px; color: #333333; padding-left: 20px; padding-top: 40px;}
.body_3 img{padding-top: 22px; padding-bottom: 22px;}
.body_3 p{font-size: 14px; color: #333333; padding-left: 5px; line-height: 24px;}
.footer{width: 100%; height: 80px; background-color: #424242; clear: both;margin-top: 120px;}
.footer ul{width:645px;  padding-top: 24px; margin: 0 auto;clear: both;}
.footer li{float: left; padding-left: 40px;}
.footer li a{font-size: 14px; color: #858585; text-decoration: none;}
.footer li a:hover{color: #459DF5;}
.footer p{ padding-top: 6px; font-size: 13px; color: #858585; clear: both;text-align: center;}

#biaoqian2  li:hover{color: #0066CC;}
.middle{height: 1270px; width: 1200px; margin: 0 auto;}
.child{ padding-left: 60px; margin-top: 24px; margin-bottom: 100px;}
.child-1{ font-size: 20px; color: #333; margin-bottom: 16px;}
.child-2,.child span{font-size: 14px; color: #333; line-height: 24px;}
.child h1{ font-size:22px; line-height: 54px; clear: both;}
.child img{float: right; width: 192px; height: 280px;position: relative; bottom: 50px; right: 100px;}